$white-color: #ffff;
$black-color: black;

$cyanDark-color:#41B3A3;
$cyanLight-color:#85dcb8;
$orange-color: #E27D60;
$gold-color: #e8a77c;

$lifeBar-color: #ff4747;
$armorBar-color: #808080;
$manaBar-color: #4747ff;

